In [48]:
#Quiz 4.1
a = [[[1,3], [3,4]], [5, [5,6],[7,8]]]
a[1][1][1]
a

[[[1, 3], [3, 4]], [5, [5, 6], [7, 8]]]

In [49]:
#Quiz 4.2
name = [['Anuwat', 'Sukthong', 20], ['Watanu', 'Thongsuk', 34], ['Peter', 'Parker', 25], ['Harry','Potter', 42]]
name

[['Anuwat', 'Sukthong', 20],
 ['Watanu', 'Thongsuk', 34],
 ['Peter', 'Parker', 25],
 ['Harry', 'Potter', 42]]

In [50]:
#Quiz 4.3
del name[3]
name

[['Anuwat', 'Sukthong', 20],
 ['Watanu', 'Thongsuk', 34],
 ['Peter', 'Parker', 25]]

In [51]:
#Quiz 4.4
name.insert(0, ['Ball', 'Anuwat', 24]);
name

[['Ball', 'Anuwat', 24],
 ['Anuwat', 'Sukthong', 20],
 ['Watanu', 'Thongsuk', 34],
 ['Peter', 'Parker', 25]]

In [52]:
name[2][2] = name[2][2] + 10
name

[['Ball', 'Anuwat', 24],
 ['Anuwat', 'Sukthong', 20],
 ['Watanu', 'Thongsuk', 44],
 ['Peter', 'Parker', 25]]